In [ ]:
#In these exercises, you will complete the first step toward the above goal: acquire and prepare the necessary 
#Zillow data from the zillow database in the Codeup database server.

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import wrangle #acquire and prepare module

In [2]:
df = wrangle.get_zillow_data()
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

In [3]:
df = wrangle.wrangle_zillow(df)
df.head(2)

   bedrooms  bathrooms  square_feet  tax_value  year  tax_amount  county_codes
0         0          0         1864      27516  1960        5643          6037
1         0          0         1864         10  1960        5643          6037

In [ ]:
df.shape

In [ ]:
df.describe().T

In [ ]:
#missing or null values in all variables except for 'fips'

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
#bed and bathroom counts I will fill in with the mode (whole number). 
#taxvaluedollarcnt I will fill in with the mode. More reasonable numbers between 50 and 75% of homes.
#calculatedfinishedsquarefeet, yearbuilt, and taxamount will fill with mean because it is within the 50 and 75 percentile 
##and less than half a percent of listed homes.

In [ ]:
df['bedroomcnt'] = df.bedroomcnt.fillna(value = 3)

In [ ]:
df['bathroomcnt'] = df.bathroomcnt.fillna(value = 2)

In [ ]:
df['calculatedfinishedsquarefeet'] = df.calculatedfinishedsquarefeet.fillna(value = df['calculatedfinishedsquarefeet'].mean())

In [ ]:
df['taxvaluedollarcnt'] = df.taxvaluedollarcnt.fillna(value = 45000)

In [ ]:
df['yearbuilt'] = df.yearbuilt.fillna(value = 1960)

In [ ]:
df['taxamount'] = df.taxamount.fillna(value = df['taxamount'].mean())

In [ ]:
df.isnull().sum()

In [ ]:
df = df.astype('int64')
df.head()

In [ ]:
#How to handle 0 bedroom counts and 0 bathroom counts

In [ ]:
#Rename column names
df = df.rename(columns={"bedroomcnt": "bedrooms", "bathroomcnt": "bathrooms", "calculatedfinishedsquarefeet":"square_feet",
                  "taxvaluedollarcnt":"tax_value", "yearbuilt":"year", "taxamount":"tax_amount", "fips":"county_codes"})
df.head(1)

In [ ]:
df.describe().T

In [ ]:
df.count('bedrooms' == 0)

In [ ]:
sns.barplot(data = df)